/* header div.brand
{
    font-weight: bold ;
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    align-items: center ;
    margin:0;
    padding:0;
    /* border:1px solid #fff; *
    width:15%;
}

header div.brand a{

    text-decoration: none ;
    color: var(  --main-font-color );
    font-size: 165% ;

} */


.brand {
    @apply font-bold flex justify-between items-center m-0 p-0;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .brand a {
    @apply no-underline w-full text-left  xl:text-center  md:pl-7 sm:pl-[10%] ;
    color: white ;
    font-size: 165%;

  }
